%nav.navbar.navbar-default{role: "navigation"}
  / Brand and toggle get grouped for better mobile display
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-ex1-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand{ href: root_path } Schedule
  / Collect the nav links, forms, and other content for toggling
  .collapse.navbar-collapse.navbar-ex1-collapse
    %ul.nav.navbar-nav
      %li
        %a{ href: users_path } Users
      %li
        %a{ href: lessons_path } Lessons
      /
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
            Dropdown
            %b.caret
          %ul.dropdown-menu
            %li
              %a{href: "#"} Action
            %li
              %a{href: "#"} Another action
            %li
              %a{href: "#"} Something else here
            %li
              %a{href: "#"} Separated link
            %li
              %a{href: "#"} One more separated link
    %form.navbar-form.navbar-left{role: "search"}
      .form-group
        %input.form-control{placeholder: "Search", type: "text"}/
      %button.btn.btn-default{type: "submit"} Submit
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
          =current_user.full_name
          %b.caret
        %ul.dropdown-menu
          %li
            %a{href: "#"} Profile
          %li
            = link_to('Sign out', destroy_user_session_path, :method => :delete)
